/* Media Queries */

@media screen and (max-width: 768px) {
    .main-content {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .sidebar {
        display: none;
    }
    .section {
        margin-top: 1rem;
    }
    .page-heading, .image-container {
        font-size: 44px;
    }
    .bio-para {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 576px) {
    .main-content {
        width: 80%;
    }
    .section {
        margin-top: 1rem;
        margin-bottom: 6rem;
    }
    .page-heading {
        font-size: 38px;
    }
    .page-heading, .image-container {
        padding: 10px;
        text-align: center;
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .bio-heading, .cont-heading {
        padding: 10px;
    }
    .bio-para {
        text-align: center;
    }
    footer {
        padding: 20px;
}
}