/* CSS code */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Cinzel Decorative', serif;
    margin: 0;
    padding: 0;
    /*background-color: #101820;*/
    background-color: #F2F0EB;
}
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.sidebar {
    background-color: #cfcec71f;
    backdrop-filter: blur(8px);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    top: 0%;
    left: 5%;
    right: 5%;
    text-align: center;
    position: fixed;
}

.sidebar ul {
    height: 5vh;
    margin-top: 3%;
    /*height: 10vh;*/
    display: flex;
    flex-direction: row;
    /*float: right;*/
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #0A0D17;
    padding: 10px 20px;
}

.sidebar ul li a:hover {
    color: #aaa2a2;
}

.main-content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
} 

.section {
    margin-bottom: 15rem;
    margin-top: 2rem;
}

.page-heading {
    /*border: 1px solid #aaa2a2;
    border-top: none;
    border-bottom: none;*/
    font-size: 50px;
    display: flex;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #0A0D17;
}
/*hr {
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}*/
.page-para {
    /*background-color: #aaa2a2;*/
    /*border: 1px solid #aaa2a2;
    border-top: none;
    border-bottom: none;*/
    font-size: 15px;
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    color: #0A0D17;
}

.image-container {
    text-align: right;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.image-container img {
    margin-top: 17px;
    max-width: 100%;
    border: 1px solid #b3b0b09c;
    border-radius: 10px;
    box-shadow: 6px 13px 23px -5px #000000;
}

.bio-heading, .cont-heading {
    color: #0A0D17;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.bio-para {
    margin-top: 10px;
    color: #aaa2a2;
    height: 100vh;
}

figcaption {
    font-family: 'Newsreader', serif;
    font-size: 13px;
    font-style: italic;
    color: #aaa2a2;
    margin-top: 10px;
}

footer {
    font-family: 'Newsreader', serif;
    font-size: 16px;
    color: #0A0D17;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 4%;
    width: 80%;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
}

.social-icons a {
    color: #0A0D17;
    padding: 3.5px;
}

.social-icons a:hover {
    color: #aaa2a2;
}
