/* CSS code */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Cinzel Decorative', serif;
    margin: 0;
    padding: 0;
    /*background-color: #101820;*/
    /*background-color: #F2F0EB;*/
    background-color: #d8d0d0;
}
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.sidebar {
    background-color: #adada81f;
    backdrop-filter: blur(8px);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    top: 2%;
    left: 5%;
    right: 5%;
    text-align: center;
    position: fixed;
}

.sidebar ul {
    height: 5vh;
    margin-top: 3%;
    /*height: 10vh;*/
    display: flex;
    flex-direction: row;
    float: right;
    list-style-type: none;
    padding: 0;
}
.home {
    height: 5vh;
    margin-top: 3%;
    /*height: 10vh;*/
    display: flex;
    flex-direction: row;
    float: left;
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #0A0D17;
    padding: 10px 20px;
}

.sidebar ul li a:hover {
    color: #aaa2a2;
}

.main-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    padding: 20px;
} 

.section {
    margin-top: 2rem;
}

.page-heading {
    /*border: 1px solid #aaa2a2;
    border-top: none;
    border-bottom: none;*/
    font-size: 50px;
    display: flex;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #0A0D17;
}
/*hr {
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}*/
.page-para {
    /*background-color: #aaa2a2;*/
    /*border: 1px solid #aaa2a2;
    border-top: none;
    border-bottom: none;*/
    font-size: 15px;
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    color: #0A0D17;
}

.image-container {
    text-align: right;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.image-container img {
    margin-top: 17px;
    max-width: 100%;
    border: 1px solid #b3b0b09c;
    border-radius: 10px;
    box-shadow: 6px 13px 23px -5px #000000;
}

.bio-heading, .cont-heading,h3 {
    color: #0A0D17;
    text-align: left;
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.sectio-2 {
    width: 80%;
    height: 100vh;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.bio-container {
    width: 49%;
    display: inline-block;
    text-align: left;
    margin-bottom: 4rem;
}
.bio-img {
    width: 49%;
    display: inline-block;
    text-align: right;
}
.bio-img img {
    margin-top: 17px;
    width: 80%;
    max-width: 100%;
    border: 1px solid #b3b0b09c;
    border-radius: 10px;
    box-shadow: 6px 13px 23px -5px #000000;
}
.bio-para {
    color: #aaa2a2;
    margin: 20px;
}

figcaption {
    font-family: 'Newsreader', serif;
    font-size: 13px;
    font-style: italic;
    color: #706c6c;
    margin-top: 10px;
}
.fab-icon {
    position: fixed;
    
    width:20%;
    height: 10%;
    right: 0%;
    bottom: 10%;
}
.wiki a {
    /*background-color: #d8d0d0;*/
    background-color: #F2F0EB;
    backdrop-filter: blur(8px);
    width: 50% ;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    color: #000000;
    font-size: 24px;
    box-shadow: 6px 13px 23px -5px #000000;
}
.text {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .fab-icon:hover .text {
    visibility: visible;
    opacity: 1;
  }
footer {
    font-family: 'Newsreader', serif;
    font-size: 16px;
    color: #0A0D17;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 4%;
    width: 80%;
    height: 13vh;
    margin-left: auto;
    margin-right: auto;
}
.footer-text {
    color: #0A0D17;
    margin: 10px;
}
.social-icons a {
    color: #0A0D17;
    padding: 3.5px;
}

.social-icons a:hover {
    color: #aaa2a2;
}
